*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App #search{
    width: 900px;
    height: 50px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 15px;
}
table{
    width: 900px;
    border: 1px solid black;
}
table thead{
    height: 30px;
    background-color: antiquewhite;

}
table tbody{
    height: 30px;
    background-color: aliceblue;
}